[submodule "libs/SimpleIniParser"]
	path = libs/SimpleIniParser
	url = https://github.com/AtlasNX/SimpleIniParser.git
[submodule "libs/libtesla"]
	path = libs/libtesla
	url = https://github.com/WerWolv/libtesla
